<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirsttServlet</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTask</servlet-name>
        <servlet-class>UpdateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstServlet_1</servlet-name>
        <servlet-class>servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaServlet</servlet-name>
        <servlet-class>servlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDao</servlet-name>
        <servlet-class>LoginDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailApp2</servlet-name>
        <servlet-class>idea.MailApp2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyotheruserideaServlet</servlet-name>
        <servlet-class>servlet6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyownuserideaServlet</servlet-name>
        <servlet-class>servlet4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail2</servlet-name>
        <servlet-class>idea.SendMail2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet_1</servlet-name>
        <servlet-class>servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>idea.updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voteServlet</servlet-name>
        <servlet-class>idea.voteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaServlet_1</servlet-name>
        <servlet-class>idea.IdeaServlet_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyotheruserideaServlet_1</servlet-name>
        <servlet-class>idea.ModifyotheruserideaServlet_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifyownuserideaServlet_1</servlet-name>
        <servlet-class>idea.modifyownuserideaServlet_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyownuserideaServlet_1</servlet-name>
        <servlet-class>idea.ModifyownuserideaServlet_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLeanCanvas</servlet-name>
        <servlet-class>idea.updateLeanCanvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateLeanCanvas_1</servlet-name>
        <servlet-class>idea.updateLeanCanvas_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdeaServlet_new</servlet-name>
        <servlet-class>.IdeaServlet_new</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatevisions</servlet-name>
        <servlet-class>updatevisions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptDP</servlet-name>
        <servlet-class>acceptDP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMail1</servlet-name>
        <servlet-class>sendMail1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addvision</servlet-name>
        <servlet-class>addvision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>as1</servlet-name>
        <servlet-class>as1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addexplore</servlet-name>
        <servlet-class>addexplore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adddp</servlet-name>
        <servlet-class>adddp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accept</servlet-name>
        <servlet-class>accept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accept_a</servlet-name>
        <servlet-class>accept_a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accept_e</servlet-name>
        <servlet-class>accept_e</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_a</servlet-name>
        <servlet-class>delete_a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_e</servlet-name>
        <servlet-class>delete_e</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>email2</servlet-name>
        <servlet-class>email2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notification</servlet-name>
        <servlet-class>notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empType</servlet-name>
        <servlet-class>empType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ideanew</servlet-name>
        <servlet-class>ideanew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_member</servlet-name>
        <servlet-class>add_member</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>updateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notifiy</servlet-name>
        <servlet-class>cdp.notifiy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cdpnotify</servlet-name>
        <servlet-class>cdpnotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateInfo</servlet-name>
        <servlet-class>updateInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Artical</servlet-name>
        <servlet-class>Artical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatus</servlet-name>
        <servlet-class>idea.updateStatus</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>se.create</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirsttServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTask</servlet-name>
        <url-pattern>/Asstask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstServlet_1</servlet-name>
        <url-pattern>/FirstServlet_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaServlet_1</servlet-name>
        <url-pattern>/IdeaServlet_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDao</servlet-name>
        <url-pattern>/LoginDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailApp2</servlet-name>
        <url-pattern>/MailApp2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyotheruserideaServlet</servlet-name>
        <url-pattern>/ModifyotheruserideaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyownuserideaServlet</servlet-name>
        <url-pattern>/ModifyownuserideaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail2</servlet-name>
        <url-pattern>/SendMail2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet_1</servlet-name>
        <url-pattern>/WelcomeServlet_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voteServlet</servlet-name>
        <url-pattern>/voteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaServlet</servlet-name>
        <url-pattern>/IdeaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyotheruserideaServlet_1</servlet-name>
        <url-pattern>/ModifyotheruserideaServlet_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifyownuserideaServlet_1</servlet-name>
        <url-pattern>/modifyownuserideaServlet_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyownuserideaServlet_1</servlet-name>
        <url-pattern>/ModifyownuserideaServlet_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLeanCanvas</servlet-name>
        <url-pattern>/updateLeanCanvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateLeanCanvas_1</servlet-name>
        <url-pattern>/updateLeanCanvas_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdeaServlet_new</servlet-name>
        <url-pattern>/IdeaServlet_new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatevisions</servlet-name>
        <url-pattern>/updatevisions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptDP</servlet-name>
        <url-pattern>/acceptDP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMail1</servlet-name>
        <url-pattern>/sendMail1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addvision</servlet-name>
        <url-pattern>/addvision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>as1</servlet-name>
        <url-pattern>/as1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addexplore</servlet-name>
        <url-pattern>/addexplore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adddp</servlet-name>
        <url-pattern>/adddp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accept</servlet-name>
        <url-pattern>/accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accept_a</servlet-name>
        <url-pattern>/accept_a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accept_e</servlet-name>
        <url-pattern>/accept_e</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_a</servlet-name>
        <url-pattern>/delete_a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_e</servlet-name>
        <url-pattern>/delete_e</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email2</servlet-name>
        <url-pattern>/email2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notification</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empType</servlet-name>
        <url-pattern>/empType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ideanew</servlet-name>
        <url-pattern>/ideanew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_member</servlet-name>
        <url-pattern>/add_member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notifiy</servlet-name>
        <url-pattern>/notifiy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cdpnotify</servlet-name>
        <url-pattern>/cdpnotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateInfo</servlet-name>
        <url-pattern>/updateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Artical</servlet-name>
        <url-pattern>/Artical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatus</servlet-name>
        <url-pattern>/updateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>

